<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type='text/css'>
  ul { list-style: none; }
  #recordingslist audio { display: block; margin-bottom: 10px; }
  #please-wait-modal-content { display: none; }
  #postrecordingdiv { display: none; }
  #postuploaddiv { display: none; }
  textarea { width: 100%; }
</style>

<div id="browser-permissions-warning" class="alert">
  <p>To record audio, you must give your browser access to your microphone.</p>
</div>

<h2>Record audio for: "<%= @current_audio_name %>"</h2>
<p><%= @current_audio_description %></p>
<label>Sample Script: Create your own</label>
<textarea><%= @current_audio_example %></textarea>
<br><br>

<div id="prerecordingdiv">
  <p id="recordmessage">When you're happy with your script, click to record and start speaking immediately.</p>
  <button id="recordButton" onclick="startRecording(this);" disabled>Record</button>
  <button class="button-prominent" onclick="stopRecording(this);" disabled>Stop</button>
</div>

<div id="postrecordingdiv">
  <div id="recordingslist"></div>
  <button id="uploadButton" onclick="uploadAudio(this);" disabled>Upload</button>
  <button class="button-prominent" id="rerecordButton" onclick="reRecordAudio();" disabled>Re-record</button>
</div>

<div id="postuploaddiv">
  Thanks! Please wait while your audio is processed...
</div>

<script>
function __log(e, data) {
  console.log(e);
}

var audio_context;
var recorder;
var input;

function startUserMedia(stream) {
  input = audio_context.createMediaStreamSource(stream);
  __log('Media stream created.');

  var zeroGain = audio_context.createGain();
  zeroGain.gain.value = 0;
  input.connect(zeroGain);
  zeroGain.connect(audio_context.destination);
  __log('Input connected to muted gain node connected to audio context destination.');

  recordButton = document.getElementById("recordButton");
  recordButton.disabled = false;

  warningDiv = document.getElementById("browser-permissions-warning");
  warningDiv.style.display = "none";

  recorder = new Recorder(input);
  __log('Recorder initialised.');
}

function startRecording(button) {
  recorder && recorder.record();
  button.disabled = true;
  button.nextElementSibling.disabled = false;
  __log('Recording...');
}

function stopRecording(button) {
  recorder && recorder.stop();
  button.disabled = true;
  button.previousElementSibling.disabled = true;
  uploadButton = document.getElementById("uploadButton");
  uploadButton.disabled = false;
  rerecordButton = document.getElementById("rerecordButton");
  rerecordButton.disabled = false;
  prerecordingdiv = document.getElementById("prerecordingdiv");
  prerecordingdiv.style.display = 'none';
  postrecordingdiv = document.getElementById("postrecordingdiv");
  postrecordingdiv.style.display = 'inline';
  __log('Stopped recording.');
  createPlayer();
}

function uploadAudio(e) {
  postrecordingdiv = document.getElementById("postrecordingdiv");
  postrecordingdiv.style.display = 'none';
  postuploaddiv = document.getElementById("postuploaddiv");
  postuploaddiv.style.display = 'inline';
  recorder && recorder.exportWAV(function(blob) {
    var fd = new FormData();
    fd.append('fname', 'myaudio.wav');
    fd.append('data', blob);
    $.ajax({
      type: "POST",
      url: "/<%= @user_token %>/audio/<%= @current_audio_name.gsub(" ", "-") %>",
      data: fd,
      processData: false,
      contentType: false
      }).done(function(response) {
        done_content = "<p>Audio successfully uploaded. <br><a href=\"<%= @next_link %>\" class=\"button\">Next step</a></p>";
        $('#postuploaddiv').append(done_content);
      });
  });
}

function createPlayer() {
  recorder && recorder.exportWAV(function(blob) {
    var url = URL.createObjectURL(blob);
    var au = document.createElement('audio');

    au.controls = true;
    au.src = url;
    recordingslist.innerHTML = '';
    recordingslist.appendChild(au);
  });
}

// Reload the page while stashing the content of the textarea in the query string.
function reRecordAudio()
{
  var textareas = document.getElementsByTagName('textarea');
  
  if(textareas.length == 1) {
    var hash = '#' + escape(textareas[0].value);
    var parts = [location.protocol, '//', location.hostname, location.pathname, hash];
    location.href = parts.join('');
    location.reload();
  }
  return false;
}

window.onload = function init() {
  try {
    // webkit shim
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    navigator.getUserMedia = (navigator.getUserMedia ||
      navigator.webkitGetUserMedia ||
      navigator.mozGetUserMedia ||
      navigator.msGetUserMedia);
    window.URL = window.URL || window.webkitURL;

    audio_context = new AudioContext;
    __log('Audio context set up.');
    __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
  } catch (e) {
    alert('No web audio support in this browser!');
  }

  navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
    __log('No live audio input: ' + e);
  });
  
  // Set textarea content to location hash.
  var textareas = document.getElementsByTagName('textarea');
  
  if(textareas.length == 1) {
    var content = unescape(location.hash.substring(1));
    var parts = [location.protocol, '//', location.hostname, location.pathname, '#'];
    location.href = parts.join('');
    textareas[0].value = content;
  }
};
</script>

<script src="/js/recorder.js"></script>

