<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Code for America Analytics Dashboard</title>

    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />

    <!-- The light version of the main CFA stylesheet -->
  <link rel="stylesheet" href="//style.codeforamerica.org/1/style/css/cfa-light.css">

  <link rel="stylesheet" href="//style.codeforamerica.org/1/style/css/layout.css" media="all and (min-width: 40em)">

  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
  <link rel="stylesheet" href="../style/css/layout.css" media="all">
  <![endif]-->

  <!-- (Optional) A plugin that adds syntax highlighting to code samples -->
  <link href="//style.codeforamerica.org/1/style/css/prism.css" rel="stylesheet" />

  <!-- Link to a 32x32 favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="//style.codeforamerica.org/favicon.ico">

  <!-- (Optional) Link to a 60x60 bookmark icon for iOS -->
  <link rel="apple-touch-icon-precomposed" href="//style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

  <!-- App-specific stylesheet -->
  <link rel="stylesheet" href="/css/custom.css">

</head>


  <title>CityVoice-Builder for Heroku</title>

<body>

  <div class="layout-semibreve" id="main-container">
    <h1>CityVoice Builder</h1>

      <div class="layout-minor">
          <nav role="navigation" class="toc" id="toc">
            <h2>Steps</h2>
            <ol class="sectlevel1">
                <div id="steps-container">
                  <li id="locations-step" <%= "class='step-selected'" if @page_name == 'locations' %>>Add locations</li>
                  <li id="questions-step" <%= "class='step-selected'" if @page_name == 'questions' %>>Add questions</li>
                  <li id="audio-step" <%= "class='step-selected'" if @page_name == 'audio' %>>Record audio</a></li>
                  <li id="push-step" <%= "class='step-selected'" if @page_name == 'push' %>>Push!</a></li>
                </div>
            </ol>
          </nav>
      </div>

    <main id="content" class="layout-major">
      <%= yield %>
    </main>

  </div> <!-- class="layout-semibreve" -->

</body>

</html>
